body {
  font-family: "Open Sans", sans-serif;
}
#navbar {
  padding: 10px;
  text-align: center;
}
#navbar ul {
  padding: 0;
}
#navbar li {
  display: inline;
  padding: 20px;
  margin-left: 30px;
}
#navbar a {
  color: black;
  text-decoration: none;
}
#header {
  /*background-image: linear-gradient(150deg, #4d68e2 0%, #7f49b4 100%);*/
  background: #6d31a8;
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  padding: 10%;
  color: white;
  font-size: 40px;
}
#header .white-chevron {
  color: white;
}
h3 {
  text-align: center;
}
img {
  transition: all 200ms ease-in-out;
  margin: 10px;
}
img:hover {
  transform: scale(1.1);
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects,
#about-me,
#tech-stack,
#contact {
  margin: 20px 25px;
}
i {
  color: #6d31a8;
  width: 30px;
}
footer {
  background: #6d31a8;
  color: white;
  padding: 10px;
  margin: 10px 0;
}
