body {
  font-family: "Open Sans", sans-serif;
  background: aliceblue;
}
#sidenav {
  background: #030a46;
  z-index: 20;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}
#sidenav a:hover {
  color: #9a2b91;
}
#sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#menu-button {
  position: fixed;
  top: 0;
  right: 10px;
  font-size: 40px;
  background: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.fa-bars {
  color: #9a2b91;
}
#menu {
  font-size: 20px;
  color: #9a2b91;
}
#menu-button:hover,
.closebtn:hover {
  cursor: pointer;
}
#container {
  transition: margin-right 0.5s;
  padding: 5px 45px 5px 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #sidenav {
    padding-top: 15px;
  }
  #sidenav a {
    font-size: 18px;
  }
}

#header #name {
  font-size: 40px;
}
#header #job-title {
  font-size: 30px;
}
#header #name,
#job-title {
  /*background-image: linear-gradient(150deg, #4d68e2 0%, #7f49b4 100%);*/
  text-align: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px darkslategrey;
  z-index: 10;
  position: relative;
  top: -330px;
  letter-spacing: 2px;
}
#header #background {
  box-sizing: border-box;
  z-index: 1;
  height: 450px;
  width: 100%;
}
h3 {
  text-align: center;
  margin: 10px;
}
.image-hover-effect {
  transition: all 200ms ease-in-out;
  margin: 10px;
}
.image-hover-effect:hover {
  transform: scale(1.1);
}
.image-shadow {
  box-shadow: 2px 2px 4px darkgrey;
}
.images-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects,
#about-me,
#tech-stack,
#contact {
  margin: 20px 25px;
}
i {
  color: #030a46;
  width: 30px;
}
a {
  color: black;
}
footer {
  background: #030a46;
  color: white;
  padding: 10px;
  margin: 10px 0;
}
