body {
  font-family: "Open Sans", sans-serif;
  background: aliceblue;
}
#navbar {
  padding: 10px;
  text-align: center;
}
#navbar ul {
  padding: 0;
}
#navbar li {
  display: inline;
  padding: 20px;
  margin-left: 30px;
}
#navbar a {
  color: black;
  text-decoration: none;
}
#header #name {
  font-size: 40px;
}
#header #job-title {
  font-size: 30px;
}
#header #name,
#job-title {
  /*background-image: linear-gradient(150deg, #4d68e2 0%, #7f49b4 100%);*/
  text-align: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px darkslategrey;
  z-index: 10;
  position: relative;
  top: -330px;
  letter-spacing: 2px;
}
#header #background {
  box-sizing: border-box;
  z-index: 1;
  height: 450px;
  width: 100%;
}
h3 {
  text-align: center;
  margin: 10px;
}
.image-hover-effect {
  transition: all 200ms ease-in-out;
  margin: 10px;
}
.image-hover-effect:hover {
  transform: scale(1.1);
}
.image-shadow {
  box-shadow: 2px 2px 4px darkgrey;
}
.images-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects,
#about-me,
#tech-stack,
#contact {
  margin: 20px 25px;
}
i {
  color: #6d31a8;
  width: 30px;
}
a {
  color: black;
}
footer {
  background: #6d31a8;
  color: white;
  padding: 10px;
  margin: 10px 0;
}
